.site-header {
  background-image: url('../images/screenshot.png');
  background-repeat: no-repeat;
  background-size: contain;
  color: $primary-color;
  padding: 20px;
  text-align: right;
}

.site-header a {
  color: $primary-color;
}

.site-header h1 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 5px;
}

.site-header h2 {
  font-size: 15px;
}
