/* line 17, ../../../../../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, ../../src/sass/screen.sass */
body {
  background: url('../images/fancy_deboss.png?1321391385');
  font-family: Actor, Helvetica, Arial, sans-serif;
  color: #222222;
  font-size: 20px;
  line-height: 20rx;
}
/* line 12, ../../src/sass/screen.sass */
body .github_badge {
  position: absolute;
  right: 0;
  top: 0;
}
/* line 17, ../../src/sass/screen.sass */
body .page-wrapper {
  width: 798.63px;
  margin: 30px auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 22, ../../src/sass/screen.sass */
body .page-wrapper section.sidebar {
  width: 283px;
  margin-right: 60px;
  float: left;
}
/* line 27, ../../src/sass/screen.sass */
body .page-wrapper section.sidebar h1 {
  width: 100%;
  height: 103px;
  text-indent: -1000em;
  background: url('../images/wordless.png?1321392906') no-repeat;
  margin-bottom: 30px;
}
/* line 34, ../../src/sass/screen.sass */
body .page-wrapper section.sidebar nav ul li a {
  text-align: center;
  display: block;
  color: #2d64b3;
  margin-bottom: 10px;
  font-size: 22px;
  text-decoration: none;
}
/* line 42, ../../src/sass/screen.sass */
body .page-wrapper section.page-content {
  float: left;
  width: 455.63px;
}
/* line 46, ../../src/sass/screen.sass */
body .page-wrapper section.page-content h2 {
  font-size: 38px;
  line-height: 38px;
  margin-bottom: 20px;
  font-family: Coustard;
  color: #2d64b3;
}
/* line 53, ../../src/sass/screen.sass */
body .page-wrapper section.page-content h3 {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 15px;
  font-family: Coustard;
  color: #5e9dc2;
}
/* line 60, ../../src/sass/screen.sass */
body .page-wrapper section.page-content p.bigger {
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 30px;
}
/* line 65, ../../src/sass/screen.sass */
body .page-wrapper section.page-content ul, body .page-wrapper section.page-content p {
  margin-bottom: 20px;
}
/* line 68, ../../src/sass/screen.sass */
body .page-wrapper section.page-content li {
  margin-left: 25px;
  list-style-type: square;
  margin-bottom: 5px;
}
