/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-preview1@wordless-gh-pages/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.3-preview1@wordless-gh-pages/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-preview1@wordless-gh-pages/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-preview1@wordless-gh-pages/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-preview1@wordless-gh-pages/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-preview1@wordless-gh-pages/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../.rvm/gems/ruby-1.9.3-preview1@wordless-gh-pages/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-preview1@wordless-gh-pages/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../.rvm/gems/ruby-1.9.3-preview1@wordless-gh-pages/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 14, ../../src/sass/screen.sass */
body {
  background: url('../images/fancy_deboss.png?1322823995');
  font-family: Actor, Helvetica, Arial, sans-serif;
  color: #5d5d5d;
  font-size: 20px;
  line-height: 21px;
}
/* line 21, ../../src/sass/screen.sass */
body code {
  font-family: "Monaco", "Lucida Console", monospace;
  background: white;
  border: 1px solid #999999;
  padding: 2px 4px;
  font-size: 15px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
/* line 29, ../../src/sass/screen.sass */
body .github_badge {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
/* line 35, ../../src/sass/screen.sass */
body .page-wrapper {
  width: 838.63px;
  padding: 90px 20px 110px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  *zoom: 1;
}
/* line 42, ../../src/sass/screen.sass */
body .page-wrapper::before, body .page-wrapper section.footer {
  content: "";
  position: absolute;
  height: 100px;
  top: -50px;
  left: -10%;
  width: 120%;
  background: #26ade4;
  -moz-transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
  -webkit-backface-visibility: hidden;
}
/* line 52, ../../src/sass/screen.sass */
body .page-wrapper section.footer {
  color: white;
  top: auto;
  bottom: -20px;
}
/* line 57, ../../src/sass/screen.sass */
body .page-wrapper section.footer p {
  width: 798.63px;
  padding-top: 20px;
  margin: 0px auto;
  line-height: 30px;
}
/* line 63, ../../src/sass/screen.sass */
body .page-wrapper section.footer p a {
  width: 109px;
  height: 109px;
  display: inline-block;
  text-indent: -1000em;
  background: url('../images/welaika.png?1322823995') no-repeat;
}
/* line 71, ../../src/sass/screen.sass */
body .page-wrapper section.sidebar {
  width: 283px;
  margin-right: 60px;
  float: left;
}
/* line 76, ../../src/sass/screen.sass */
body .page-wrapper section.sidebar h1 {
  width: 100%;
  text-indent: -1000em;
  background: url('../images/wordless.png?1322823995') no-repeat;
  margin-bottom: 40px;
  height: 145px;
}
/* line 83, ../../src/sass/screen.sass */
body .page-wrapper section.sidebar nav {
  text-align: center;
}
/* line 87, ../../src/sass/screen.sass */
body .page-wrapper section.sidebar nav ul li a {
  display: block;
  margin-bottom: 15px;
  color: #367bbb;
  text-decoration: none;
}
/* line 93, ../../src/sass/screen.sass */
body .page-wrapper section.sidebar nav ul li a:hover {
  text-decoration: underline;
}
/* line 96, ../../src/sass/screen.sass */
body .page-wrapper section.sidebar nav ul li a.important {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d2ec7f), color-stop(100%, #b2de27));
  background: -webkit-linear-gradient(#d2ec7f, #b2de27);
  background: -moz-linear-gradient(#d2ec7f, #b2de27);
  background: -o-linear-gradient(#d2ec7f, #b2de27);
  background: -ms-linear-gradient(#d2ec7f, #b2de27);
  background: linear-gradient(#d2ec7f, #b2de27);
  border: 1px solid #6e8a15;
  color: #4b5e0e;
  display: block;
  padding: 15px;
  font-size: 23px;
  margin-bottom: 20px;
  text-shadow: #daef95 0px 1px 0px;
  -moz-box-shadow: #daef95 0 1px 0 0 inset, #aeb3b5 0px 1px 1px;
  -webkit-box-shadow: #daef95 0 1px 0 0 inset, #aeb3b5 0px 1px 1px;
  -o-box-shadow: #daef95 0 1px 0 0 inset, #aeb3b5 0px 1px 1px;
  box-shadow: #daef95 0 1px 0 0 inset, #aeb3b5 0px 1px 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
/* line 108, ../../src/sass/screen.sass */
body .page-wrapper section.sidebar nav ul li a.important span {
  font-size: 14px;
  display: block;
  margin-top: 4px;
  color: #6e8a15;
  font-style: italic;
}
/* line 115, ../../src/sass/screen.sass */
body .page-wrapper section.sidebar nav ul li a.important:hover {
  text-decoration: none;
  color: #39480b;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #daef95), color-stop(100%, #bae23d));
  background: -webkit-linear-gradient(#daef95, #bae23d);
  background: -moz-linear-gradient(#daef95, #bae23d);
  background: -o-linear-gradient(#daef95, #bae23d);
  background: -ms-linear-gradient(#daef95, #bae23d);
  background: linear-gradient(#daef95, #bae23d);
  -moz-box-shadow: #daef95 0 1px 0 0 inset, #aeb3b5 0px 1px 1px;
  -webkit-box-shadow: #daef95 0 1px 0 0 inset, #aeb3b5 0px 1px 1px;
  -o-box-shadow: #daef95 0 1px 0 0 inset, #aeb3b5 0px 1px 1px;
  box-shadow: #daef95 0 1px 0 0 inset, #aeb3b5 0px 1px 1px;
}
/* line 121, ../../src/sass/screen.sass */
body .page-wrapper section.page-content {
  float: left;
  width: 455.63px;
}
/* line 125, ../../src/sass/screen.sass */
body .page-wrapper section.page-content a {
  color: #373737;
}
/* line 128, ../../src/sass/screen.sass */
body .page-wrapper section.page-content a:hover {
  color: #5d5d5d;
}
/* line 131, ../../src/sass/screen.sass */
body .page-wrapper section.page-content h2 {
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 40px;
  font-family: Coustard;
  height: 145px;
  color: #367bbb;
}
/* line 139, ../../src/sass/screen.sass */
body .page-wrapper section.page-content h4 {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 15px;
  font-family: Coustard;
  color: #4dbce9;
}
/* line 146, ../../src/sass/screen.sass */
body .page-wrapper section.page-content ul, body .page-wrapper section.page-content p {
  margin-bottom: 20px;
}
/* line 149, ../../src/sass/screen.sass */
body .page-wrapper section.page-content li {
  margin-left: 25px;
  list-style-type: square;
  margin-bottom: 5px;
}
