/ Charset
%meta(http-equiv="Content-type" content="text/html;charset=UTF-8")

/ Title
%title= get_page_title(bloginfo('name'), " – ")

/ Stylesheets
= stylesheet_link_tag("screen")

/ HTML5 Shiv
/[if lt IE 9]
  = javascript_include_tag("http://html5shiv.googlecode.com/svn/trunk/html5.js")

- wp_head()

