// Charset
meta(http-equiv="Content-type" content="text/html;charset=UTF-8")
meta(name='viewport' content='width=device-width, initial-scale=1')

// Title
title= bloginfo( 'title' ) . wp_title()

// Stylesheets
// screen.css is loaded by default with wp_head() function. See config/initializers/default_hooks.php for details

- wp_head()
