%meta{:charset => "utf-8"}/

/ Use the .htaccess and remove these lines to avoid edge case issues. More info: h5bp.com/i/378
%meta{:http-equiv => "X-UA-Compatible", :content => "IE=edge,chrome=1"}/

%title= get_page_title(bloginfo('name'), " – ")

%meta{:name => "description", :content => ""}

/ Mobile viewport optimized: h5bp.com/viewport
%meta{:name => "viewport", :content => "width=device-width"}

/ Stylesheets
= stylesheet_link_tag("screen")

/
  All JavaScript at the bottom, except this Modernizr build. Modernizr enables HTML5 elements & feature detects for optimal performance.
  Create your own custom Modernizr build: www.modernizr.com/download/
= javascript_include_tag("modernizr-2.5.3.min.js")

/ More ideas for your <head> here: h5bp.com/d/head-Tips

/ HTML5 Shiv
/[if lt IE 9]
  = javascript_include_tag("http://html5shiv.googlecode.com/svn/trunk/html5.js")

- wp_head()
