/ Charset
%meta(http-equiv="Content-type" content="text/html;charset=UTF-8")

/ Title
%title= wp_title()

/ Stylesheets
/ screen.css is loaded by default with wp_head() function. See config/initializers/default_hooks.php for details

/ HTML5 Shiv
/[if lt IE 9]
  = javascript_include_tag("http://html5shiv.googlecode.com/svn/trunk/html5.js")

- wp_head()

