%meta{:charset => "utf-8"}
%meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
%title= get_page_title(bloginfo('name'), " – ")

%meta{:content => "", :name => "description"}

-# Mobile viewport optimized: h5bp.com/viewport
%meta{:content => "width=device-width", :name => "viewport"}

-# CSS: implied media="all"
= stylesheet_link_tag("screen")

-# All JavaScript at the bottom, except this Modernizr build. Modernizr enables HTML5 elements & feature detects for optimal performance.
-# Create your own custom Modernizr build: www.modernizr.com/download/
= javascript_include_tag("modernizr-2.6.2.min.js")

-# More ideas for your <head> here: h5bp.com/d/head-Tips

-# HTML5 Shiv: enable HTML5 tags on old browser
-# http://remysharp.com/2009/01/07/html5-enabling-script/
/[if lt IE 9]
  = javascript_include_tag("http://html5shiv.googlecode.com/svn/trunk/html5.js")

- wp_head()
