header.site-header
  padding: 20px
  background: #355593
  color: white
  +border-bottom-radius(5px)

  a
    color: white

  h1
    font-size: 25px
    margin-bottom: 5px
    font-weight: bold

  h2
    font-size: 15px
